@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-blue {
    background-color: #87c3e5;
}

.text-custom-blue {
    color: #87c3e5;
}

.hover-bg-custom-blue:hover {
    background-color: #6aaedb;
}
